.input{
    &__label {
        position: absolute;
        left: 42px;
        top: 16px;
        font-size: 16px;
        line-height: 1.17;
        color: var(--color-secondary-normal);
    }

    &__control {
        padding: 16px 42px;
        display: block;
        width: 100%;
        border: 1px solid var(--color-secondary-normal);
        background-color: transparent;
        border-radius: 8px;

        &:focus{
            border-color: var(--color-brand);
            outline: none;

            &::-moz-placeholder{
                color: var(--color-brand-dark);
            }

            &::placeholder{
                color: var(--color-brand-dark);
            }
        }
    }
}