.footer {
    background-color: var(--color-brand-dark);
    background-image: url("../images/footer-background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 32px 0;
    position: relative;


    &::before{
        content: "";
        position: absolute;
        background-repeat: no-repeat;
        background-image: url("../images/decor-bread-large-mobile.png");
        width: 180px;
        height: 170px;
        left: 0;
        bottom: 200px;

        @media screen and (min-width: $bp-tablet) {
            background-image: url("../images/decor-bread-small.png");
            bottom: 0;
            width: 179px;
            height: 121px;
        }
    }
    &::after {
        content: "";
        position: absolute;
        background-repeat: no-repeat;
        bottom: 0;
        right: 0;
        background-image: url("../images/decor-bread-small-mobile.png");
        width: 100px;
        height: 90px;

        @media screen and (min-width: $bp-desktop) {
            background-image: url("../images/decor-bread-large.png");
            right: 0;
            bottom: 0;
            width: 378px;
            height: 187px;
        }
    }

    &__container{
        display: flex;
        gap: 20px;
        flex-direction: column;

        @media screen and (min-width: $bp-tablet) {
            flex-direction: row; 
        }

    }
    &__nav, &__address{
        flex-basis: 50%;
        display: flex;
        gap: 25px;
        flex-direction: column;
        text-align: center;

        @media screen and (min-width: $bp-tablet) {
            flex-direction: row;
            text-align: left;
        }
    }

    &__logo, &__menu, &__address-list, &__address-info{
        flex-grow: 1;
    }

    &__address-icon{
        fill: var(--color-brand-light);

        &:hover{
            fill: var(--color-accent);
        }
    }

    &__menu-link {
        margin-bottom: 16px;
        @media screen and (min-width: $bp-tablet) {
            margin-bottom: 2px;
        }
        &:not(:last-child){
            margin-bottom: 0;
        }

    }
    &__address-link{
        font-size: 16px;
        font-weight: 300;
        color: var(--color-brand-light);
        text-decoration: none;
        margin-bottom: 16px;
        @media screen and (min-width: $bp-tablet) {
            margin-bottom: 2px;
        }

        &:hover {
            color: var(--color-brand);
        }
    }

    &__address-copyrighttext{
        font-size: 14px;
        color: var(--color-accent);
    }
}