.hero-section {
    padding: 272px 0;
    background-image: linear-gradient(
        102deg,
        rgba(18, 18, 17, 0.78) 2%,
        rgba(18, 18, 17, 0.6) 59%, 
        rgba(18, 18, 17, 0) 90%),
        url("../images/hero-section-background.jpeg");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;

    &__title {
        margin-bottom: 0;
        color: var(--color-brand-light);
        text-align: center;
        font-size: 128px;
        font-weight: 900;
    }
}