.traditions-section {
    @media screen and (min-width: $bp-desktop) {
        padding-top: 96px;
    }

    &__container {
        display: flex;
        justify-content: space-between;
        gap: 40px;
        align-items: self-start;
    }
    
    &__content {
        max-width: 710px;
    }
    
    &__title {
        margin-bottom: 20px;
        @media screen and (min-width: $bp-tablet) {
            margin-bottom: 42px;
        }

    }
    &__text{
        @media screen and (min-width: $bp-tablet){
            font-size: 18px;
            font-weight: 400;
        }
        &--limited{
            max-width: 340px; 
        }      
    }
    &__image {
        display: none;
        @media screen and (min-width: $bp-tablet) {
            display: block;
            border-radius: 400px 400px 0 0;
        }
    }
}
